div.ui.segment {
 border-radius: 0;
 margin: 0;
}

.navbar.sticky {
  bottom: 0;
  width: 100%;
}

body {
	background: white;
}

.navbar {
	margin: 0;
}

.jumbotron {
	margin-top: 2em;
}

.ui.segment.grey {
	margin-top: 2em;
}

.customContainer {
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	width: 75%;
}
